@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  max-width: 650px;
  border-radius: 7px;
  box-shadow: 6px 4px 12px 5px rgba(0, 0, 0, 0.3);
}

.app-info {
  display: grid;
  grid-template-rows: 40px 20px 70px;
  grid-auto-columns: 1fr;
  grid-row-gap: 10px;
  padding: 2.8em 35px;
}

.info-header {
  font-size: 24px;
  font-weight: 700;
  color: hsl(179, 62%, 43%);
}

.info-license {
  color: hsl(71, 73%, 54%);
  font-weight: 700;
}

.info-description {
  color: hsl(218, 22%, 67%);
  line-height: 25px;
}

.app-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.content-subscription {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  border-bottom-left-radius: 8px;
  background-color: #2bb3b1;
  color: hsl(204, 43%, 93%);
}

.content-about {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  padding-top: 50px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  background-color: #4abebd;
  color: hsl(204, 43%, 93%);
  border-bottom-right-radius: 8px;
}

.content-subscription-price {
  display: flex;
  color: #87e0e1;
  align-items: center;
  margin-bottom: 20px;
}

.content-about ul li {
  margin: 3px 0;
  list-style-type: none;
}

.content-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.content-subscription-button {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.content-subscription-button .sign-up-button {
  width: 100%;
  cursor: pointer;
  background-color: #bfdf32;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  box-shadow: 6px 7px 11px 3px rgb(0 0 0 / 20%);
}

.sign-up-button:hover {
  background-color: transparent;
  outline: 2px solid whitesmoke;
  box-shadow: none;
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.fz-38 {
  font-size: 38px;
}

.fw-700 {
  font-weight: 700;
}

.mr-10 {
  margin-right: 10px;
}

.whitesmoke {
  color: whitesmoke;
}

@media (max-width: 540px) {
  .app-content {
    flex-direction: column;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
  }

  .app-info {
    margin-bottom: 10px;
  }

  .content-subscription {
    width: 100%;
    border-radius: 0;
    transform: rotateX(360deg);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .content-about {
    width: 100%;
    border-radius: 0;
    transform: rotateY(360deg);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
